.board {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 40%;
}

.points {
  font-size: 22px;
}

.mistakes {
  font-size: 22px;
}

.new-game-button {
  padding: 10px;
}

.cell {
  width: calc(25% - 10px);
  aspect-ratio: 1/1;
  margin: 5px;
  display: block;

  border-radius: 10%;
  background-color: #f2d9a0;
}

.monster {
  background-image: url('../img/goblin.png');
  background-size: contain;
  background-repeat: no-repeat;
}